doctype html
html(lang='en', ng-app='myApp', ng-controller='layout')
	head
		base(href='/')
		meta(charset='utf-8')
		meta(name='fragment', content='!')
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
		meta(HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE")
		meta(http-equiv='EXPIRES', content='Mon, 22 Jul 2002 11:12:01 GMT')
		meta(http-equiv='pragma', content='no-cache')

		title(ng-bind='page.title()') ChitChat

		link(rel='stylesheet', href='//shared.feedox.com/styles/materialize.min.css', crossorigin)
		link(rel='stylesheet', href='//shared.feedox.com/styles/bundle/bundle-metro.min.css', crossorigin)
		link(rel='stylesheet', href='//shared.feedox.com/styles/bundle/bundle-other.min.css', crossorigin)
		link(rel='stylesheet', href='/styles/style.min.css', crossorigin)
	body
		block content
		.layout(style='width: 100%; min-height: 100%', layout='row', layout-fill)
			div#content(style='width:100%;')
				//md-button.md-fab.bg-orange(ng-click="toggleMenu()",ng-cloak,ng-show="scroll > toolbarHeight - 10",style="position:fixed; right:5px;")
					md-tooltip(md-direction='left') Open Menu
					.icon.icon-lines.icon-4x.fg-white

				md-toolbar.main-toolbar(ng-cloak,layout="row",layout-align="space-between center")
					div(flex,hide-xs,ng-cloak)
						div(style="margin:10px 20px 10px 25px; font-size:12px;",ng-cloak,hide-xs,hide-sm)
							div(ng-show="email",layout="column",layout-align="start")
								div(layout="row")
									div(ng-bind="email")
					div(flex).center
						md-button.logo.fg-white(flex, style='', ng-href="/",layout="row",layout-align="center center")
							//img(src='https://feedox.com/content/imgs/feedox.png', style='width:200px; margin:10px 20px 10px 5px; font-size: 4.8em;')
							//.mdi.mdi-tooltip-outline.mdi-48px.logo-icon() &nbsp;&nbsp;&nbsp;
							img.logo-icon(src="/images/ChitChat-Logo-2-Icon.png")
							.md-display-1.fg-white(style="max-width: none;")
								| {{app.name}}
					div(flex, hide-xs).text-right
						//md-button.md-accent(ng-click="toggleMenu()",style="min-width:20px;")
							span.icon.icon-lines.icon-4x

				md-sidenav.md-sidenav-right(md-component-id='menu',md-whiteframe='4',md-is-open="false",ng-hide="!appReady || noHeader || isMobile()",ng-cloak)
					md-toolbar(layout="row",layout-align="space-between")
						h1.md-toolbar-tools.fg-white Main Menu
						md-button.md-accent(ng-click='toggleMenu()')
							i.mdi.mdi-close-circle-outline
							span(style="vertical-align: middle;")  Close
					md-content(layout-margin='')

				#container
					.view-container
						.view-frame(ng-view, style='p-adding: 0 10px;').reveal-animation
							div(layout='row',layout-align='center center',style="width:100%;padding-top:100px;").center
								div.fg-white
									.md-display-2.fg-orange(style="font-size:126px;") ...

		script(src = 'https://www.gstatic.com/firebasejs/3.6.8/firebase.js')
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCA2uJ8c6CYtn3yL9yR77UwjoBeCxpKLwc",
				authDomain: "chitchat-157309.firebaseapp.com",
				databaseURL: "https://chitchat-157309.firebaseio.com",
				storageBucket: "chitchat-157309.appspot.com",
				messagingSenderId: "615482056950"
			};
			firebase.initializeApp(config);

		script(src='//shared.feedox.com/scripts/bundle/bundle-essentials.min.js', crossorigin)
		script(src='//shared.feedox.com/scripts/bundle/bundle-angular.min.js', crossorigin)
		script(src='//shared.feedox.com/scripts/bundle/bundle-myEssentials.min.js', crossorigin)
		script(src='//shared.feedox.com/scripts/bundle/feedox.api.web.0.3.min.js', crossorigin)
		script(src="//shared.feedox.com/scripts/lib/keymaster.js", async)

		//script(src='https://dev.feedox.com/content/js/compiled/fd.js', crossorigin)
		script(src='//shared.feedox.com/scripts/utilsService.js?=1')

		script(src='//shared.feedox.com/bower_components/moment/min/moment-with-locales.min.js')

		script(src='./scripts/app.js?rnd=1')


