style.

div.border-dashed.padding20.margin5 Component: {{content}} (have a look at 'my-comp' file)

//
    Use the component like this:
    my-comp(content="'abc'")
    my-comp(content="myVariableInLocalScope")


